<style>
    .alert {
      padding: 15px;
      margin-bottom: 20px;
      border: 1px solid transparent;
      border-radius: 4px;
    }

    .alert h4 {
      margin-top: 0;
      color: inherit;
    }

    .alert .alert-link {
      font-weight: bold;
    }

    .alert > p,
    .alert > ul {
      margin-bottom: 0;
    }

    .alert > p + p {
      margin-top: 5px;
    }

    .alert-dismissable,
    .alert-dismissible {
      padding-right: 35px;
    }

    .alert-dismissable .close,
    .alert-dismissible .close {
      position: relative;
      top: -2px;
      right: -21px;
      color: inherit;
    }

    .alert-success {
      background-color: #C8E6C9;
      border-color: #81C784;
      color: #388E3C;
    }

    .alert-success hr {
      border-top-color: #AED581;
    }

    .alert-success .alert-link {
      color: #2E7D32;
    }

    .alert-info {
      background-color: #B2EBF2;
      border-color: #4DD0E1;
      color: #0097A7;
    }

    .alert-info hr {
      border-top-color: #00838F;
    }

    .alert-info .alert-link {
      color: #245269;
    }

    .alert-warning {
      background-color: #FFE0B2;
      border-color: #FFB74D;
      color: #F57C00;
    }

    .alert-warning hr {
      border-top-color: #FFB74D;
    }

    .alert-warning .alert-link {
      color: #EF6C00;
    }

    .alert-danger {
      background-color: #ffcdd2;
      border-color: #e57373;
      color: #d32f2f;
    }

    .alert-danger hr {
      border-top-color: #d32f2f;
    }

    .alert-danger .alert-link {
      color: #c62828;
    }
</style>
